@font-face {
    font-family: logo;
    src: url(./fonts/Montserrat-BlackItalic.ttf);
  }
  
  @font-face {
    font-family: text;
    src: url(./fonts/Montserrat-BoldItalic.ttf);
  }

* {
    margin: 0;
    font-family:text;
    color: white;
}



.logo{
    padding-top: 1em;
    text-align: center;
    font-family: logo;
}

.title {
    font-family: logo;
    width:fit-content;
    text-align: center;
    padding: 1em;
    border: 1px solid white;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}

.PAGE-ONE, .PAGE-TWO, .PAGE-THREE {
    height: 100vh;
    background: linear-gradient(90deg, #FFC67B 0%, #FF8986 100%);
}

.container-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-package {
    width: 80vw;
    min-width: 15vw;
}

li{
    font-size: 1.3em;
}

.positives > .list-1 > li, .positives .list-2 > li {
    width: 110%;
    height: 100%;
}

.better {
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.1em;
}

.positives {
    padding-top: 2em;
    font-size: 0.6em;
    display: flex;
}

.register > h1 {
    font-size: 1em;
    background: -webkit-linear-gradient(#FFC67B, #FF8986);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.REGISTER-LINK {
    position: absolute;
    top: 90%;
    right: 50%;
    transform: translateX(50%);
}

.register, .GET-FREE-DEMO {
    border: none;
    border-radius: 60px;
    background-color: white;
    height: 3em;
    width: 10em;
}

.register {
    width: 10em;
}


p{
    font-size: 0.5em;
}

.walk {
    min-width: 15vw;
    width: 23vw;
    top: -100%;
}

.slogan{
    font-size: 1em;
    width: fit-content;
}

.PAGE-TWO {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.three-container {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
}

input {
    height: 2em;
    border: none;
    background: none;
    border-bottom: 2px solid white;
    transition: 200ms ease;
}

form > input:focus {
    background: white;
    color: #FF8986;
    font-family: monospace;
}

form {
    font-size: 1.5em;
    height: 40vh;
    border: 3px solid rgb(255, 255, 255);
    padding: 2em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.GET-FREE-DEMO > h1 {
    font-size: 1em;
    background: -webkit-linear-gradient(#FFC67B, #FF8986);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.PAGE-THREE{
    border-top: 1px solid white;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;        
}

.demo {
    text-align: center;
}

.whole-container{
    height: 80vh;
}

.steps {
    width: 50vw;
    padding: 1em;
}

.sitting {
    width: 20vw;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    width: fit-content;
    text-align: center;
    font-size: 1em;
    border: 2px solid white;
    padding: 1em;
    margin: 0 1em 0 1em;
}

.para-container-one > p, .para-container-two > p {
    width: 50%;
    text-align: center;
    padding: 2em;
    font-size: 0.8em;
}

.para-container {
    position: relative;
    top: 20%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.para-container-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.para-container-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    text-decoration: underline;
}

.contact {
    letter-spacing: 3px;
    font-size: 0.6em;
    border-top: 1px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7vh;
    background: linear-gradient(90deg, #FFC67B 0%, #FF8986 100%);
}

.top {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 1em;
}

.form-container{
    background: #FFC67B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#request-package {
    width: 60vw;
    height: 60vh;
}

#request-button {
    width: 10em;
    height: 2.5em;
    position: relative;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
}



#request-button > h1 {
    font-size: 0.6em;
}

.request-text {
    font-size: 1em;
    margin: 0mm;
}

.no-margin {
    margin: 0;
}

.slogan {
    font-family: logo;
}

.box {
    width: 30vw;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slogan{
    border: 2px solid white;
    padding: 1em;
}

.thankyou {
    height: 100vh;
    background: #FFC57B;
}

.thankyou > p {
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 1em;
    width: 80%;
}

.thankyou > img {
    width: 25vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 900px) {

    .container-1 {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
    }

    .hero-package{
        position: initial;
        max-width: 30vw;
    }

    .positives{
        position: initial;
        font-size: 1em;
    }

    .title {
        font-size: 1em;
    }

    .better {
        text-decoration: underline;
        font-size: 1.2em;
        position: initial;
        text-align: center;
    }
    .register, .GET-FREE-DEMO {
        width: 12em;
        font-size: 1.2em;
    }
    
    .REGISTER-LINK {
        top: 80%;
    }

    .line {
        font-family: logo;
         letter-spacing: 1px;
        font-size: 1em;
        width: 80vw;
    }

    .sitting{
       position: initial; 
        max-width: 15vw;
        min-width: 1vw;
    }

    .para-container {
        height: 50vh;
        justify-content: space-evenly;
        flex-direction: column;
        width: fit-content;
        position: initial;
    }

    .whole-container {
        position: relative;
        left: 15%;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
    }

    .para-container-one > p, .para-container-two > p {
        width: 50vw;
        text-align: center;
        padding: 2em;
        font-size: 1em;
    }

    .para-container-one {
        flex-direction: column;
    }

    .para-container-two {
        flex-direction: column;
    }

    .three-container {
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        width: 80%;
    }

    .PAGE-TWO {
        width: 100%;
    }

    .walk {
        width: 20vh;
    }

    .steps {
        width: 40vw;
    }

    form {
        width: 40vw;
    }

    .register, .GET-FREE-DEMO {
        height: 6vh;
        width: 13vw;
    }

    .GET-FREE-DEMO {
        font-size: 1em;
    }

}

/* animations */

.text {
    text-decoration: none;
}

.intro {
    background: #FFC57B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider {
    background: #ff8986;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: rgb(233, 233, 233);
    border: 10px solid #ffffff;
    padding: 3em;
    font-size: 3rem;
  }
  
  .hide {
    background: #FFC57B;
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
  